@import "../../style//mixin.scss";
@import "../../style/variables.scss";


.taskContainer{
    border: 1px solid lightgrey;
    background-color:$white-color;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
    height: 60px;
}