@import "../../style//mixin.scss";
@import "../../style/variables.scss";


.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    gap: 30px;
    padding: 100px;
}