@import "../../style//mixin.scss";
@import "../../style/variables.scss";


.columnContainer {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 220px;

    display: flex;
    flex-direction: column;
    
}

.titleColumn{
    padding: 8px;
}

.taskListColumn{
    padding: 8px;
    transition: background-color 0.2s ease;
    flex-grow: 1;
    min-height: 100px;
}