@mixin fontType($size, $color) {
  font-family: $font-family;
  font-size: $size;
  font-weight: 400;
  color: $color
}



@mixin table-grid() {
  grid-template-columns: 110px auto/* 757px */ repeat(4, 200px);
} 

@mixin button($background) {
  // @font();
  background-color: $background;
  border-radius: 6px;
  // border-radius: $border-radius;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus,
  &:active {
    background: darken($background, 10%);
  }
}
