$light-blue-gray-color:#CBD8DE;

$background-color: #27272A;
$white-color: #FFFFFF;

$gray-color: #A1A1AA;
$light-gray-color: #C6C6C6;
$dark-gray-color: #414144;


$blue-color:#5F98F5;
$blue-gray-color:#7890B2;
$green-color:#95FFAC;
$red-color:#DF4444;

$font-family:'Roboto',
sans-serif;

$regular-font-size:14px;
$big-font-size:18px;




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}